html {
  max-height: 100%;
  overflow: hidden;
}
body {
  background-color: rgba(0, 0, 0, 0.938) !important;
  max-height: 100px
}

@media screen and (min-width: 480px) {
body {
      height: 100%;
      width: 100%;
      color: rgb(0, 0, 0);
      margin: 0 !important;
      padding: 0 !important;

  }
}
.navbar {
  margin-bottom: 0% !important;
}

#myVideo {
  margin-left: 0;
  bottom: 0;
  height: 100%;
  opacity: 0.7;
}

.container {
  display: flex;
  padding: 0%;
  height: 100%;
  width:100%;
}

.content {
  flex: 3;
}

.cover-heading {
  font-size: 80px;
  font-style: italic;
  color: aliceblue;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 5px black;
  margin-left: 10%;
  margin-bottom: 0%;
  position: relative;
  top: -500px;
}

#home_page {
  height: 1100px;
}

#button {
margin-left: 25%;
margin-right: 2%;
/* position: relative;
top: -820px; */
}

#button2 {
  /* position: relative;
  top: -820px; */
}

.btn-toolbar {
 position: relative;
  top: -470px;
}
li {
  color: aliceblue;
  font-size: 30px;
}

#list{
  color: aliceblue;
  padding: 15px, 20px, 15px, 20px;
  margin: 0;
}

.box {
  color: whitesmoke;
  font-size: 1.3em;
  background-color: rgba(147, 176, 201, 0.8);
  padding-left: 20px;
  padding-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 1200px;
  padding-right: 20px;
  font-family: 'Permanent Marker', cursive;
  min-height: 800px;
  margin: auto;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

.thumbnail img {
  max-height: 400px;
  min-height: 400px;
  min-width: 320px;
  max-width: 320px;
  margin-top: 15px;
  border:  1px solid black;
  border-radius: 4px;
}

#packageHead {
  padding-bottom: 5px;
}

#app {
  /* max-height: 100%; */
 padding:0%;
 top:0%;
 margin-bottom: 0%;
} 

#bodyThing {
  position: relative;
  margin: auto;
 margin-left: 15%;
}
 


#carousel {
  max-width: 300px;
  display: flex;
  float: left;
  margin-left: 30px;
  padding-top: 30px;
  
}
.carousel.slide {
  max-width: 72%;
}
.carousel-inner {
  max-width: 100%;
}


button {
  padding: 1%;
  border-radius: 5px;
color: black
}


#x {
  min-height: 35px;
  min-width: 35px;
color: rgba(0, 0, 0, 0.726);
}

#basic-nav-dropdown {
  font-size: 18px;
}

#buttonsMain {
  margin-left: 10px;
  }

  #contactSubmit {
    margin:5% 0% 0% 90%;

  }

.form-group {
    margin: 2%;
    padding: 2%;
  }

  #Thankyou {
    font-size: 40px;
    margin: 20%;
  font-family: 'Permanent Marker', cursive;
  }

  #ThankyouSaved {
    font-size: 40px;
  font-family: 'Permanent Marker', cursive;
  }

  #login {
    padding: 1% 0%;
    max-width: 10%;
    max-height: 10%;
    margin: auto;
  }

  #save {
    color: rgba(0, 0, 0, 0.726);
  }


  #add {
    color: rgba(0, 0, 0, 0.726);
    padding: 1%;
  }

  #savedItems {
    display: inline-block;
   margin: 1%;
  
  }